<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleMultipeerConnectivity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76D9AF2F2B8007CE00D711E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D9AF412B8007D000D711E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D9AF4B2B8007D000D711E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
